# Void Space - Kitty color scheme
# https://github.com/viniciusfs/void-space.nvim
#
# Usage: include this file in your kitty.conf:
#   include void-space-kitty.conf

# Primary
background            {{bg}}
foreground            {{fg}}

# Cursor
cursor                {{fg}}
cursor_text_color     {{bg}}

# Selection
selection_background  {{sel}}
selection_foreground  {{fg}}

# URL underline
url_color             {{cyan}}

# Window borders
active_border_color   {{blue}}
inactive_border_color {{sel}}
bell_border_color     {{red}}

# Tab bar
tab_bar_background        {{bg_dark}}
active_tab_foreground     {{fg}}
active_tab_background     {{bg_float}}
inactive_tab_foreground   {{fg_dim}}
inactive_tab_background   {{bg}}

# Normal colors (0-7)
color0   {{bg}}
color1   {{red}}
color2   {{green}}
color3   {{yellow}}
color4   {{blue}}
color5   {{purple}}
color6   {{cyan}}
color7   {{fg_dim}}

# Bright colors (8-15)
color8   {{bg_float}}
color9   {{bright_red}}
color10  {{bright_green}}
color11  {{bright_yellow}}
color12  {{bright_blue}}
color13  {{pink}}
color14  {{bright_cyan}}
color15  {{fg}}
